.social__connect {
  @include rem( font-size, 150% );
  li {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    border-bottom: none;
  }
}