//
// Site Wrap
//==========================

.site__wrap, .wrap {
  clear: both;
  word-wrap: break-word;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  position: relative;

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    max-width: 800px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1140px;
  }
}